---
import StudentCard from '../../../components/StudentCard.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getAllStudentTags, getStudentsByTag } from '../../../helpers/students';
import PaginationIndex from '../../../components/PaginationIndex.astro';
import { PAGE_SIZE } from '../../../consts';

export async function getStaticPaths({ paginate }) {
  const tags = await getAllStudentTags();

  const page = await tags.map(async (tag) => {
    const students = await getStudentsByTag(tag);

    return paginate(students, {
      params: { tag },
      pageSize: PAGE_SIZE,
    });
  });

  return await Promise.all(page);
}

const { page } = Astro.props;
const { tag } = Astro.params;
---

<BaseLayout pageTitle={`Estudantes de ${tag}`}>
  <div
    class="grid justify-center justify-items-center gap-5 grid-cols-1 md:grid-cols-[repeat(2,_auto)] lg:grid-cols-[repeat(3,_auto)] xl:grid-cols-4 mx-auto"
    data-pagefind-ignore
  >
    {page.data.map((student) => <StudentCard student={student} />)}
  </div>
  {
    page.lastPage > 1 && (
      <PaginationIndex page={page} pagePath={`/students/${tag}`} />
    )
  }
</BaseLayout>
