---
layout: default
---

<div class="projects">
  {% for project_hash in site.data.projects %}
  {% assign project = project_hash[1] %}
    <div class="project">
      <a href="{{ project.demo | default: project.repository }}" target="_blank"  class="project-image">
        <img src="{{ project.preview | default: "assets/thumbnails/project-placeholder.png"  }}" alt="{{ project.title }}">
      </a>
      <a href="{{ project.repository }}" target="_blank" class="project-title">
        {{ project.repository | replace: "https://github.com/", "" | replace: "https://gitlab.com/", "" }}
      </a>
      <ul class="project-tags">
        {% for topic in project.topics  %}
          <li>{{ topic }}</li>
        {% endfor %}
        <li>{{ project.subject }}-{{ project.session }}</li>
        <li>{{ project.course }}-{{ project.campus | replace: "João Pessoa", "jp" }}</li>
      </ul>
    </div>
  {% endfor %}
</div>