---
layout: default
---

<div class="projects">
  {% for project_hash in site.data.projects %}
  {% assign project = project_hash[1] %}
    <div class="project">
      <img src="{{ project.preview | default: "assets/img/project-placeholder.png" }}" alt="{{ project.title }}" class="project-image">
      <a href="{{ project.repository }}" class="project-title">{{ project.repository | replace: "https://github.com/", "" }}</a>
      <ul class="project-tags">
        {% for topic in project.topics  %}
          <li>{{ topic }}</li>
        {% endfor %}
        <li>{{ project.subject }}</li>
        <li>{{ project.course }}</li>
        <li>{{ project.session }}</li>
      </ul>
    </div>
  {% endfor %}
</div>