.student-card .github-student-link path {
  stroke-width: 3;
}

.project-card .github-project-link path:first-child {
  fill: #fff;
  opacity: 1;
}

header .github-project-link path {
  fill: #f4f4f5;
}
