.person-card .github-person-link path {
  stroke-width: 3;
}

.project-card .github-project-link path:first-child {
  fill: #fff;
  opacity: 1;
}

.project-card .workflow-project-link path {
  fill: #fff;
  opacity: 1;
}

.project-card .canva-project-link path {
  fill: #fff;
  opacity: 1;
}

.project-card .design-project-link path {
  fill: #fff;
  opacity: 1;
}

header .github-project-link path {
  fill: #f4f4f5;
}
