---
import { getCollection } from 'astro:content';
import StudentCard from '../../../components/StudentCard.astro';
import ProjectCard from '../../../components/ProjectCard.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getProjectsByStudent } from '../../../helpers/projects';

export async function getStaticPaths() {
  const allStudents = await getCollection('students');

  await allStudents.forEach(async (student) => {
    student.projects = await getProjectsByStudent(student.data.id);
  });

  allStudents.sort((a, b) =>
    a.data.compactName.localeCompare(b.data.compactName)
  );

  const studentPage = allStudents
    .filter((student) => student.projects)
    .map((student) => {
      return {
        params: {
          student: student.data.id,
        },
        props: {
          projects: student.projects,
          student,
        },
      };
    });

  return studentPage;
}

const { projects, student } = Astro.props;
---

<BaseLayout pageTitle={`Projetos de ${student.data.compactName}`}>
  <div class="flex gap-5 flex-col md:flex-row md:items-start">
    <div>
      <StudentCard student={student} />
    </div>
    <div class="grid justify-items-stretch gap-5 grid-cols-1 md:grid-cols-2">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </div>
</BaseLayout>
