---
import StudentCard from '../../../components/StudentCard.astro';
import ProjectCard from '../../../components/ProjectCard.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getProjectsByStudent } from '../../../helpers/projects';
import { getStudentsWithProjects } from '../../../helpers/students';

export async function getStaticPaths() {
  const students = await getStudentsWithProjects();

  const studentPage = await students.map(async (student) => {
    const projects = await getProjectsByStudent(student);

    return {
      params: {
        student: student.data.id,
      },
      props: {
        projects,
        student,
      },
    };
  });

  return await Promise.all(studentPage);
}

const { projects, student } = Astro.props;
---

<BaseLayout pageTitle={`Projetos de ${student.data.name.compact}`}>
  <div class="flex gap-5 flex-col md:flex-row md:items-start">
    <div>
      <StudentCard student={student} />
    </div>
    <div class="grid justify-items-stretch gap-5 grid-cols-1 md:grid-cols-2">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </div>
</BaseLayout>
