---
const { url, text } = Astro.props;
---

<a
  href={url}
  class="max-sm:text-sm text-xs uppercase inline-block py-0.5 px-2 rounded-full font-semibold text-gray-700 bg-gray-100 hover:bg-gray-700 hover:text-white transition duration-300"
>
  {text}
</a>
