---
const { url, text } = Astro.props;
---

<a
  href={url}
  class="max-sm:text-sm text-xs pointer inline-block font-semibold text-gray-700 bg-gray-100 hover:bg-gray-400 hover:text-white py-0.5 px-2 rounded-full"
>
  {text}
</a>
