---
const { url, text } = Astro.props;
---

<a
  href={url}
  class="text-xs md:text-[10px] uppercase inline-block py-0.5 px-2 rounded-full font-semibold text-gray-800 bg-gray-200 hover:bg-gray-700 hover:text-white transition duration-300"
>
  {text}
</a>
