---
const { tags } = Astro.props;
---

<div class="fixed h-full w-full z-50 right-0 top-0">
  <div class="fixed h-full w-full right-0 top-0 bg-black bg-opacity-50 z-[-1]">
  </div>

  <div
    class="fixed h-full w-1/2 sm:w-72 right-0 top-0 bg-gray-100 shadow-lg p-4"
  >
    <h1 class="font-bold text-xl capitalize text-center">Filtro</h1>
    {
      Object.values(tags).map((tag) => (
        <div>
          <h3 class="font-semibold text-lg capitalize">{tag.name}</h3>
          {tag.values.map((value) => (
            <a
              href={`/projects/students/${value}/1`}
              class="text-xs font-semibold inline-block py-1 px-2 rounded-full text-blueGray-500 bg-white hover:bg-gray-600 hover:text-white transition duration-500 uppercase last:mr-0 mr-1 mt-1"
            >
              {value}
            </a>
          ))}
        </div>
      ))
    }
  </div>
</div>
