---
import type { CollectionEntry } from 'astro:content';
import PaginationIndex from '@/components/PaginationIndex.astro';
import PersonCard from '@/components/PersonCard.astro';
import PersonUtil from '@/components/PersonUtil.astro';

export interface Props {
  page: {
    data: CollectionEntry<'people'>[];
    currentPage: number;
    lastPage: number;
    url?: {
      first?: string;
      prev: string;
      next: string;
      last?: string;
    };
  };
  type: string;
  index: string;
}

const { page, type, index }: Props = Astro.props;
---

<PersonUtil />

<main>
  <div
    class="grid justify-center gap-5 grid-cols-1 min-[320px]:grid-cols-[250px] sm:grid-cols-[repeat(2,_250px)] lg:grid-cols-[repeat(3,_250px)] xl:grid-cols-4 mx-auto"
    data-pagefind-ignore
  >
    {page.data.map((person) => <PersonCard person={person} />)}
  </div>

  {
    page.lastPage > 1 && (
      <PaginationIndex page={page} type={type} index={index} />
    )
  }
</main>
