---
import { getCollection } from 'astro:content';
import StudentCard from '../../components/StudentCard.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths({ paginate }) {
  const allStudents = await getCollection('students');

  return paginate(allStudents, { pageSize: 12 });
}

const { page } = Astro.props;
---

<BaseLayout pageTitle="Estudantes">
  <div
    class="grid justify-items-stretch gap-5 grid-cols-1 md:grid-cols-3 lg:grid-cols-4"
  >
    {page.data.map((student) => <StudentCard student={student} />)}
  </div>
</BaseLayout>
