---
import { getCollection } from 'astro:content';
import StudentCard from '../../components/StudentCard.astro';
import FilterLayout from '../../layouts/FilterLayout.astro';
import PaginationIndex from '../../components/PaginationIndex.astro';
import { PAGE_SIZE } from '../../consts';
import { getAllStudentTagGroups } from '../../helpers/students';

export async function getStaticPaths({ paginate }) {
  const allStudents = await getCollection('students');

  // Sort students by graduation status, twitter presence, semester and name
  allStudents.sort(
    (a, b) =>
      Number(!!b.data.isGraduated) - Number(!!a.data.isGraduated) ||
      Number(!!b.data.twitter) - Number(!!a.data.twitter) ||
      Number(String(a.data.id).slice(0, 5)) -
        Number(String(b.data.id).slice(0, 5)) ||
      a.data.compactName.localeCompare(b.data.compactName)
  );

  const tags = await getAllStudentTagGroups();

  return paginate(allStudents, {
    pageSize: PAGE_SIZE,
    props: { tags },
  });
}

const { page, tags } = Astro.props;
---

<FilterLayout pageTitle="Alunos" tags={tags}>
  <main>
    <div
      class="grid justify-center justify-items-center gap-5 grid-cols-1 md:grid-cols-[repeat(2,_auto)] lg:grid-cols-[repeat(3,_auto)] xl:grid-cols-4 mx-auto"
    >
      {page.data.map((student) => <StudentCard student={student} />)}
    </div>

    {page.lastPage > 1 && <PaginationIndex page={page} pagePath="/students" />}
  </main>
</FilterLayout>
