---
import StudentCard from '../../components/StudentCard.astro';
import ProjectCard from '../../components/ProjectCard.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getProjectsByStudent } from '../../helpers/projects';
import { getStudents } from '../../helpers/students';

export async function getStaticPaths() {
  const students = await getStudents();

  const studentPage = await students.map(async (student) => {
    const projects = await getProjectsByStudent(student);

    return {
      params: {
        student: student.data.id,
      },
      props: {
        student,
        projects,
      },
    };
  });

  return await Promise.all(studentPage);
}

const { student, projects } = Astro.props;
---

<BaseLayout>
  <h1
    class="text-center pb-16 text-4xl font-bold"
    data-pagefind-filter="tipo:Estudante"
  >
    {student.data.name.compact}
  </h1>
  <div class="flex gap-5 flex-col md:flex-row md:items-start">
    <div>
      <StudentCard student={student} />
    </div>
    {
      !!projects.length ? (
        <div class="grid justify-items-stretch gap-5 grid-cols-1 md:grid-cols-2">
          {projects.map((project) => (
            <ProjectCard project={project} />
          ))}
        </div>
      ) : (
        <div>
          <p class="text-xl font-semibold">
            Nenhum projeto cadastrado no momento.
          </p>
        </div>
      )
    }
  </div>
</BaseLayout>
