<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="{{ '/assets/css/style.css' | prepend: site.baseurl }}" rel="stylesheet">
</head>
<body>
  <header class="site-title">
    <h1>Projetos do IFPB</h1>
  </header>
  <main class="site-content">
    {{ content }}
  </main>
  <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
</body>
</html>