---
import ProjectCard from '../../components/ProjectCard.astro';
import FilterLayout from '../../layouts/FilterLayout.astro';
import PaginationIndex from '../../components/PaginationIndex.astro';
import { PAGE_SIZE } from '../../consts';
import { getAllProjectTagGroups, getProjects } from '../../helpers/projects';

export async function getStaticPaths({ paginate }) {
  const projects = await getProjects();

  const tags = await getAllProjectTagGroups();

  return paginate(projects, {
    pageSize: PAGE_SIZE,
    props: { tags },
  });
}

const { page, tags } = Astro.props;
---

<FilterLayout pageTitle="Projetos" type="codes" tags={tags}>
  <main>
    <div
      class="grid justify-items-stretch gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
    >
      {page.data.map((project) => <ProjectCard project={project} />)}
    </div>

    {page.lastPage > 1 && <PaginationIndex page={page} pagePath="/codes" />}
  </main>
</FilterLayout>
